:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
}


.text-ad {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}


/* Divider */
.featurette-divider {
  margin:4rem 0;
  border: none;
  border-top: 0.5px solid #ddd;
}

/* Sección de Featurette */
.featurette {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  max-width: 1140px;
  margin: 0 auto;
}

/* Columna izquierda (Texto) */
.featurette-left {
  flex: 1;
  padding-right: 0.5rem;
}

.featurette-heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.25rem;
  color: #555;
  font-weight: 300; /* Peso de fuente ligero */
  text-align: justify;
}









.text-muted {
  color: #6c757d;
}

/* Columna derecha (Imagen) */
.featurette-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.featurette-image {
  border-radius: 0.5rem;
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* Responsividad */
@media (max-width: 768px) {
  .featurette {
    flex-direction: column;
    text-align: center;
  }

  .featurette-left {
    padding-right: 0;
    padding-bottom: 1.5rem;
  }

  .featurette-image {
    width: 100%;
    max-width: 100%;
  }
}


.elemento {
  text-align: justify;
  line-height: 1.8; /* Aumentamos el interlineado para mejorar la legibilidad */
}

.interlineado {
  margin-bottom: 1.5rem; /* Mayor espacio entre los párrafos */
}

@media screen and (max-width: 768px) {
  .image-container, .card-container {
      width: 100%; /* En pantallas pequeñas, apilamos los elementos */
      padding-left: 0;
      padding-right: 0;
  }

  .card-container {
      padding-top: 20px; /* Menos padding superior en pantallas pequeñas */
  }
}



/*otra tarjeta*/

.cardA {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem
}

.cardA>hr {
  margin-right: 0;
  margin-left: 0
}

.cardA>.list-group {
  border-top: inherit;
  border-bottom: inherit
}

.cardA>.list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px)
}

.cardA>.list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px)
}

.cardA>.card-header+.list-group,
.cardA>.list-group+.card-footer {
  border-top: 0
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem;
  height: 320px; /* Set the desired height here */
  overflow-y: auto; /* Optional, to allow scrolling if content overflows */
}

.card-title {
  margin-bottom: .5rem
}

.card-subtitle {
  margin-top: -.25rem;
  margin-bottom: 0
}

.card-text:last-child {
  margin-bottom: 0
}

.card-link:hover {
  text-decoration: none
}

.card-link+.card-link {
  margin-left: 1rem
}

.card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-footer {
  padding: .5rem 1rem;
  background-color: rgba(0, 0, 0, .03);
  border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.card-header-tabs {
  margin-right: -.5rem;
  margin-bottom: -.5rem;
  margin-left: -.5rem;
  border-bottom: 0
}

.card-header-pills {
  margin-right: -.5rem;
  margin-left: -.5rem
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(.25rem - 1px)
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px)
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px)
}

.card-group>.card {
  margin-bottom: .75rem
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important
}