  /* Estilo por defecto */
  #Pochutla, #Juquila, #Jamiltepec {
    fill: #61d315; /* Color inicial */
    /*transition: fill 0.5s; /* Suaviza la transición */
}

/* Cambia el color al pasar el mouse */
#Pochutla:hover, #Juquila:hover, #Jamiltepec:hover {
    fill: #e45839; /* Nuevo color al pasar el mouse */
}



  /* Estilo por defecto */
  #Tehuantepec, #Juchitan {
    fill: #a8aec2; /* Color inicial */
    /*transition: fill 0.5s; /* Suaviza la transición */
}

/* Cambia el color al pasar el mouse */
#Tehuantepec:hover, #Juchitan:hover {
    fill: #c0b262; /* Nuevo color al pasar el mouse */
}

/*Sierra sur*/
#Soladevega, #Ejutla, #Putla, #Miahuatlan, #Yautepec{
  fill: darkcyan;
}

#Solavega:hover, #Ejutla:hover, #Putla:hover, #Miahuatlan:hover, #Yautepec:hover{
  fill: cornsilk;
}

/*Valles centrales*/
#Tlacolula, #Zimatlan, #Ocotlan, #Zachila, #Centro, #Etla{
  fill: rgb(202, 83, 186);
}

#Tlacolula:hover, #Zimatlan:hover, #Ocotlan:hover, #Zachila:hover, #Centro:hover, #Etla:hover{
  fill: rgb(245, 236, 202);
}

/*Mixteca*/
#Tlaxiaco, #Nochixtlan, #Juxtlahuaca, #Silacayoapam, #Huajuapan, #Teposcolula, #Coixtlahuaca{
  fill: rgb(201, 80, 43);
}

#Tlaxiaco:hover, #Nochixtlan:hover, #Juxtlahuaca:hover, #Silacayoapam:hover, #Huajuapan:hover, #Teposcolula:hover, #Coixtlahuaca:hover{
  fill: rgb(241, 200, 145);
}


/*Sierra Norte*/
#Mixe, #Villaalta, #Ixtlan{
  fill: rgb(87, 37, 224);
}

#Mixe:hover, #Villaalta:hover, #Ixtlan:hover{
  fill: rgb(159, 173, 233);
}


/*Papaloapan*/
#Tuxtepec, #Choapan{
  fill: rgb(202, 18, 156);
}

#Tuxtepec:hover, #choapan:hover{
  fill: rgb(240, 194, 234);
}


/*Cañada*/
#Teotitlan, #Cuicatlan{
  fill: rgb(5, 148, 5);
}

#Teotitlan:hover, #Cuicatlan:hover{
  fill: rgb(187, 248, 185);
}
 
 